numpy
matplotlib
opencv-python
scipy
tqdm
pandas
torch
ultralytics
gradio_client
customtkinter
supervision
opencv-contrib-python
langchain
langchain_openai
langchainhub
langgraph
langchain_community
neo4j
langchain_experimental
json_repair
langchain-neo4j
prettytable
json
